Repository tumcms/Open-Infra-Platform, pull requests merged in 2020-06, with the labels that each got.

#154 WIP: Unit Test Geometry Converter
  UnitTests/Schemas/CMakeLists.txt
  UnitTests/Schemas/IFC4X1/namespace.h
  UnitTests/Schemas/IFC4X3_RC1/CMakeLists.txt
  UnitTests/Schemas/IFC4X3_RC1/GeomConverter/CMakeLists.txt
  UnitTests/Schemas/IFC4X3_RC1/GeomConverter/basin-faceted-brep/CMakeLists.txt
  UnitTests/Schemas/IFC4X3_RC1/GeomConverter/basin-faceted-brep/Data/basin-faceted-brep.ifc
  UnitTests/Schemas/IFC4X3_RC1/GeomConverter/basin-faceted-brep/src/basin-faceted-brep.cpp
  cmake/CreateUnitTests.cmake
Labels: IFC, example-files

#155 Updating SetupHelp.md
  Documentation/markdown/GitProcess.md
  Documentation/markdown/SetupHelp.md
Labels: documentation

#158 Placement converter refactor
  Core/src/Exception/UnhandledException.cpp
  Core/src/Exception/UnhandledException.h
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/PlacementConverterImpl.h
Labels: IFC, refactoring
