Repository tumcms/Open-Infra-Platform, pull requests merged in 2020-04, with the labels that each got.

#2 Preparing for 4x3 update
  .gitignore
  .hgignore
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/src/IfcGeometryConverter/FaceConverter.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
  UserInterface/ViewPanel/Viewport.cpp
  UserInterface/main.cpp
Labels: IFC, build_process, help wanted

#22 Refactoring of ifc converter
  Core/src/DataManagement/General/Data.cpp
  Core/src/IfcGeometryConverter/ConverterBase.h
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/FaceConverter.h
  Core/src/IfcGeometryConverter/GeometrySettings.h
  Core/src/IfcGeometryConverter/IfcImporter.cpp
  Core/src/IfcGeometryConverter/IfcImporter.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/ProfileCache.h
  Core/src/IfcGeometryConverter/ProfileConverter.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
  Core/src/IfcGeometryConverter/SplineConverter.h
  Core/src/IfcGeometryConverter/UnitConverter.h
Labels: IFC

#21 Rewrote the readStepData function of ExpressContainer completely
  EarlyBinding/src/EXPRESS/EXPRESSContainer.h
Labels: IFC, bug

#33 Refactored and implemented unit conversion functionality.
  Core/src/IfcGeometryConverter/UnitConverter.h
Labels: IFC

#46 Small corrections to the unit conversion.
  Core/src/IfcGeometryConverter/IfcImporter.h
  Core/src/IfcGeometryConverter/UnitConverter.h
Labels: IFC, bug

#47 Changed Doxygen syntax in UnitConverter.
  Core/src/IfcGeometryConverter/UnitConverter.h
Labels: IFC, documentation

#48 Placement rel to
  Core/CMakeLists.txt
  Core/src/IfcGeometryConverter/IfcImporter.cpp
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/PlacementConverterImpl.h
Labels: IFC, bug

#42 Implement IFC4x3_RC1 support
  CMakeLists.txt
  Core/src/DataManagement/General/Data.cpp
  Core/src/IfcGeometryConverter/IfcImporter.cpp
  Core/src/IfcGeometryConverter/IfcPeekStepReader.cpp
  Core/src/IfcGeometryConverter/IfcPeekStepReader.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  ExpressBindingGenerator/CMakeLists.txt
  ExpressBindingGenerator/schemas/IFC4X3_RC1.exp
Labels: IFC

#54 SIUNIT problem solved
  testdata/IFC4x1ExampleFiles/official/E15_Alignment/horizontal-alignment.ifc
Labels: IFC, bug

#56 Changed infinity with more sensible $
  testdata/IFC4x1ExampleFiles/official/E15_Alignment/horizontal-alignment.ifc
Labels: IFC, bug

#83 Updated doxygen help / documentation
  CMakeLists.txt
  Documentation/doxymentation/InfoDoxygenSetupOIP.pdf
  Documentation/doxymentation/StyleSheetOIP
  DoxygenHelp.md
  cmake/ConfigureDoxygen.cmake
Labels: documentation

#82 Refactor placement converter
  Core/src/IfcGeometryConverter/ConverterBuw.h
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/GeometrySettings.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/PlacementConverterImpl.h
  Core/src/IfcGeometryConverter/UnitConverter.h
Labels: IFC

#86 Doxymentation refactor
  CMakeLists.txt
  cmake/ConfigureDoxygen.cmake
Labels: documentation

#89 Curve converter refactoring
  Core/src/IfcGeometryConverter/ConverterBase.h
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/GeometryInputData.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/PlacementConverterImpl.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: IFC

#93 Replaced $ with * in SIUNIT in both files
  testdata/IFC4x1ExampleFiles/official/E15_Alignment/terrain-and-alignment.ifc
  testdata/IFC4x1ExampleFiles/official/E15_Alignment/terrain-surface.ifc
Labels: IFC

#91 Doxymentation of generated ifc files
  CMakeLists.txt
  ExpressBindingGenerator/src/Generator/GeneratorOIP.cpp
  cmake/ConfigureDoxygen.cmake
Labels: IFC, build_process, documentation

#99 Corrected dealing with IfcPolyline.
  Core/src/IfcGeometryConverter/CurveConverter.h
Labels: IFC, bug, good first issue
