Repository tumcms/Open-Infra-Platform, pull requests merged in 2020-10, with the labels that each got.

#236 Fix bounding box calculations for IFC geometries
  Core/src/IfcGeometryConverter/ConverterBuw.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
Labels: IFC, bug, example-files

#242 Account for flags within IfcTriangulatedIrregularNetwork
  Core/src/IfcGeometryConverter/FaceConverter.h
Labels: IFC, bug

#243 Assigned free floating projects in solution to corresponding folders.
  CMakeLists.txt
  UnitTests/CMakeLists.txt
Labels: build_process

#247 Updated ::readStepData
  Core/src/IfcGeometryConverter/UnitConverter.h
  EarlyBinding/src/EXPRESS/ValueType.h
Labels: IFC, bug

#249 Added IfcCartesianTransformationOperator2D entity
  testdata/IFC4x1ExampleFiles/official/E15_Alignment/sectioned-solid.ifc
Labels: bug, example-files
