Repository tumcms/Open-Infra-Platform, pull requests merged in 2020-12, with the labels that each got.

#290 Adjusted list of contributors in the documentation
  Documentation/markdown/Contributors.md
Labels: documentation

#292 Fixing291
  EarlyBinding/src/EXPRESS/EXPRESSContainer.h
  EarlyBinding/src/EXPRESS/EXPRESSEntity.h
  EarlyBinding/src/EXPRESS/EXPRESSModel.h
  EarlyBinding/src/EXPRESS/EXPRESSObject.h
  EarlyBinding/src/EXPRESS/EXPRESSReference.h
  EarlyBinding/src/EXPRESS/ValueType.h
  EarlyBinding/src/namespace.h
  ExpressBindingGenerator/src/General/memory.h
  ExpressBindingGenerator/src/General/namespace.h
  ExpressBindingGenerator/src/Generator/Generator.h
  ExpressBindingGenerator/src/Generator/GeneratorCSharp.Net.h
  ExpressBindingGenerator/src/Generator/GeneratorEcho.h
  ExpressBindingGenerator/src/Generator/GeneratorOIP.h
  ExpressBindingGenerator/src/Generator/GeneratorVB.Net.h
  ExpressBindingGenerator/src/Meta/Entity.h
  ExpressBindingGenerator/src/Meta/EntityAttribute.h
  ExpressBindingGenerator/src/Meta/Schema.h
  ExpressBindingGenerator/src/Meta/Type.h
  ExpressBindingGenerator/src/Parser/node.h
  Tools/namespaceGenerator.py
Labels: refactoring

#297 Updated SetupHelp documentation
  Documentation/markdown/SetupHelp.md
Labels: documentation

#295 [WIP] Refactoring CurveConverter.h
  Core/src/IfcGeometryConverter/CurveConverter.h
Labels: IFC, refactoring
