Repository tumcms/Open-Infra-Platform, pull requests merged in 2020-07, with the labels that each got.

#153 Representation converter refactor
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
Labels: IFC, refactoring

#127 [REF] ProfileConverter
  Core/src/IfcGeometryConverter/ProfileConverter.h
Labels: IFC

#173 [REF] FaceConcerter.h
  Core/src/IfcGeometryConverter/FaceConverter.h
Labels: refactoring

#183 Catch another exception at dealing with geometries.
  Core/src/IfcGeometryConverter/RepresentationConverter.h
Labels: IFC, enhancement

#182 [REF] UnitConverter.h
  Core/src/IfcGeometryConverter/UnitConverter.h
Labels: refactoring

#178 Refactoring splineConverter.h
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/SplineConverter.h
Labels: good first issue, refactoring

#187 Splitting alignment tessellation to a separate function.
  Core/src/IfcGeometryConverter/CurveConverter.h
Labels: IFC, refactoring

#191 Fixed 190
  CMakeLists.txt
Labels: bug, build_process

#195 Creating early binding generator unit tests
  UnitTests/CMakeLists.txt
  UnitTests/Generator/CMakeLists.txt
  UnitTests/Generator/schema_UT_v1/CMakeLists.txt
  UnitTests/Generator/schema_UT_v1/Data/schema_UT_v1.exp
  UnitTests/Generator/schema_UT_v1/src/schema_UT_v1.cpp
  UnitTests/Generator/schema_UT_v2/CMakeLists.txt
  UnitTests/Generator/schema_UT_v2/Data/schema_UT_v2.exp
  UnitTests/Generator/schema_UT_v2/src/schema_UT_v2.cpp
  UnitTests/Generator/schema_UT_v3/CMakeLists.txt
  UnitTests/Generator/schema_UT_v3/Data/schema_UT_v3.exp
  UnitTests/Generator/schema_UT_v3/src/schema_UT_v3.cpp
  UnitTests/main.cpp
  cmake/CreateUnitTests.cmake
Labels: early-binding-generator

#193 Updated all documentation.
  Documentation/markdown/Building.md
  Documentation/markdown/CMakeOptions.md
  Documentation/markdown/CodingGuideline.md
  Documentation/markdown/Contributors.md
  Documentation/markdown/DeveloperDocumentation.md
  Documentation/markdown/GitProcess.md
  Documentation/markdown/SetupHelp.md
  Readme.md
  Readme.md.orig
Labels: documentation

#198 Added 2 early binding generator unit tests
  UnitTests/Generator/schema_UT_family_1/CMakeLists.txt
  UnitTests/Generator/schema_UT_family_1/Data/schema_UT_family_1.exp
  UnitTests/Generator/schema_UT_family_1/src/schema_UT_family_1.cpp
  UnitTests/Generator/schema_UT_family_2/CMakeLists.txt
  UnitTests/Generator/schema_UT_family_2/Data/schema_UT_family_2.exp
  UnitTests/Generator/schema_UT_family_2/src/schema_UT_family_2.cpp
Labels: early-binding-generator
