Repository tumcms/Open-Infra-Platform, pull requests merged in 2020-05, with the labels that each got.

#107 Initial commit Coding Guideline.
  Documentation/markdown/CodingGuideline.md
Labels: documentation

#95 Placement converter refactor
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/FaceConverter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/PlacementConverterImpl.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
  EarlyBinding/src/EXPRESS/EXPRESSObject.h
  EarlyBinding/src/EXPRESS/EXPRESSType.h
Labels: enhancement

#113 Improving converters
  Core/src/IfcGeometryConverter/ConverterBase.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
Labels: IFC

#114 Small changes to doxymentation
  UserInterface/Resources/icons/icon_48x48.png
  UserInterface/Resources/icons/icon_72x72.png
  cmake/ConfigureDoxygen.cmake
Labels: documentation

#118 Improving converters
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: IFC

#110 Unhandled exception
  Core/src/IfcGeometryConverter/ConverterBase.h
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/FaceConverter.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  Core/src/IfcGeometryConverter/UnhandledException.h
  Core/src/IfcGeometryConverter/UnhandledRepresentationException.h
  EarlyBinding/src/EXPRESS/EXPRESSEntity.h
  EarlyBinding/src/EXPRESS/EXPRESSObject.h
  EarlyBinding/src/EXPRESS/EXPRESSReference.h
  testdata/IFC4x1ExampleFiles/official/E7_Placements_and_GIS_referencing/grid-placement.ifc
Labels: IFC

#102 Dealing with 98
  Core/src/IfcGeometryConverter/ConverterBuw.h
  UserInterface/ViewPanel/Effects/IfcGeometryEffect.cpp
  UserInterface/ViewPanel/Effects/IfcGeometryEffect.h
  UserInterface/ViewPanel/Viewport.cpp
Labels: IFC, bug

#100 Added SetupHelp and GitProcess markdown files into Documentation
  Documentation/markdown/GitProcess.md
  Documentation/markdown/SetupHelp.md
  Documentation/markdown/fig/CMake_Installation_settings.png
  Documentation/markdown/fig/Git_Workflow.png
  Documentation/markdown/fig/OIP_clone_or_download_link.png
  Documentation/markdown/fig/Qt_Installation_settings.png
Labels: documentation

#96 Small corrections
  Core/src/IfcGeometryConverter/PlacementConverter.h
  ExpressBindingGenerator/src/General/main.cpp
  ExpressBindingGenerator/src/Generator/GeneratorOIP.cpp
  testdata/IFC4x1ExampleFiles/official/E15_Alignment/terrain-and-alignment.ifc
Labels: IFC, documentation, example-files

#132 Introduced issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/import-export-request.md
Labels: documentation

#125 Pjanck/refactor representation converter
  Core/CMakeLists.txt
  Core/src/DataManagement/Export/Export.cpp
  Core/src/DataManagement/Export/Export.h
  Core/src/DataManagement/Export/ExportIfc4x1.cpp
  Core/src/DataManagement/Export/ExportIfc4x1.h
  Core/src/DataManagement/Import/Import.cpp
  Core/src/DataManagement/Import/Import.h
  Core/src/DataManagement/Import/ImportIfc4x1.cpp
  Core/src/DataManagement/Import/ImportIfc4x1.h
  Core/src/Exception/InconsistentGeometryException.cpp
  Core/src/Exception/InconsistentGeometryException.h
  Core/src/Exception/InconsistentModelingException.cpp
  Core/src/Exception/InconsistentModelingException.h
  Core/src/Exception/ReferenceExpiredException.cpp
  Core/src/Exception/ReferenceExpiredException.h
  Core/src/Exception/UnhandledException.cpp
  Core/src/Exception/UnhandledException.h
  Core/src/Exception/namespace.h
  Core/src/IfcGeometryConverter/ConverterBase.h
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/FaceConverter.h
  Core/src/IfcGeometryConverter/GeometryInputData.h
  Core/src/IfcGeometryConverter/IfcImporter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/RecursiveCallException.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
  Core/src/IfcGeometryConverter/UnhandledException.h
  EarlyBinding/src/EXPRESS/EXPRESSObject.h
  EarlyBinding/src/EXPRESS/EXPRESSReference.cpp
  EarlyBinding/src/EXPRESS/EXPRESSReference.h
  EarlyBinding/src/EXPRESS/SelectType.h
  ExpressBindingGenerator/src/Generator/GeneratorOIP.cpp
Labels: IFC

#131 Coding guideline improvements
  Documentation/markdown/CodingGuideline.md
Labels: documentation

#130 Added a list of contributors to the documentation
  Documentation/markdown/Contributors.md
  Documentation/~$veloper Documentation.docx
Labels: documentation

#111 CMakeOptions.md #109
  CMakeLists.txt
  Documentation/markdown/CMakeOptions.md
  cmake/ConfigureDoxygen.cmake
Labels: build_process, documentation

#147 Representation converter refactor
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/FaceConverter.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: IFC, refactoring
