Repository tumcms/Open-Infra-Platform, pull requests merged in 2020-11, with the labels that each got.

#253 Some 4x3_rc1 examples
  Core/src/IfcGeometryConverter/UnitConverter.h
  testdata/IFC4X3ExampleFiles/IfcBridgeProject/BeamBridge.ifc
  testdata/IFC4X3ExampleFiles/IfcBridgeProject/Cambridge.ifc
  testdata/IFC4X3ExampleFiles/IfcBridgeProject/SuspensionFootbridge.ifc
  testdata/IFC4X3ExampleFiles/IfcBridgeProject/a99.ifc
  testdata/IFC4X3ExampleFiles/IfcBridgeProject/outTruyere_long.ifc
  testdata/IFC4X3ExampleFiles/Sample_Test_Files_Testing/022A_OEFW_5-4_Test_ifc_4-0_200603.ifc
  testdata/IFC4X3ExampleFiles/Sample_Test_Files_Testing/201020 borehole log.ifc
  testdata/IFC4X3ExampleFiles/Sample_Test_Files_Testing/SSH-Rectangle_Var.ifc
  testdata/IFC4X3ExampleFiles/Sample_Test_Files_Testing/UT_Tin_in_MGA_56.ifc
  testdata/IFC4X3ExampleFiles/Sample_Test_Files_Testing/UT_one_string_one_point.ifc
  testdata/IFC4X3ExampleFiles/Sample_Test_Files_Testing/tessellated-item.ifc
  testdata/IFC4X3ExampleFiles/alignment_karlsruhe_hockenheim_4x3.ifc
  testdata/IFC4X3ExampleFiles/column-straight-rectangle-tessellation.ifc
  testdata/IFC4X3ExampleFiles/simple_ssh/sectioned-solid-simple.ifc
  testdata/IFC4X3ExampleFiles/simple_ssh/sectioned-solid-simplest.ifc
  testdata/IFC4X3ExampleFiles/simple_ssh/sectioned-solid.ifc
Labels: IFC, example-files

#255 Fixing CSG solid operations
  Core/src/IfcGeometryConverter/FaceConverter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: IFC, bug, example-files

#258 Fixing257
  ExpressBindingGenerator/src/Generator/GeneratorOIP.cpp
  testdata/IFC4x1ExampleFiles/official/E14_Additional_test_cases/beam-varying-extrusion-paths.ifc
Labels: bug, early-binding-generator

#259 ExpressContainer now handles Select-like elements
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
  EarlyBinding/src/EXPRESS/EXPRESSContainer.h
Labels: IFC, early-binding-generator, example-files

#231 Interface model: IModel first implementation
  Base/CMakeLists.txt
  Base/src/BBox.h
  Base/src/GeorefMetadata.h
  Base/src/IModel.h
  Base/src/namespace.h
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/src/DataManagement/General/Data.cpp
  Core/src/DataManagement/General/Data.h
  Core/src/IfcGeometryConverter/ConverterBuw.h
  Core/src/IfcGeometryConverter/IfcGeometryModel.cpp
  Core/src/IfcGeometryConverter/IfcGeometryModel.h
  Core/src/IfcGeometryConverter/IfcImporter.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  PointCloudProcessing/CMakeLists.txt
  PointCloudProcessing/src/PointCloud.cpp
  PointCloudProcessing/src/PointCloud.h
  Rendering/Effects/BoundingBoxEffect.cpp
  Rendering/Effects/BoundingBoxEffect.h
  Rendering/Effects/BoxEffect.cpp
  Rendering/Effects/BoxEffect.h
  Rendering/Effects/GradientClearEffect.cpp
  Rendering/Effects/GradientClearEffect.h
  Rendering/Effects/IfcGeometryEffect.cpp
  Rendering/Effects/IfcGeometryEffect.h
  Rendering/Effects/PointCloudProcessing/PointCloudEffect.cpp
  Rendering/Effects/PointCloudProcessing/PointCloudEffect.h
  Rendering/Effects/SkyboxEffect.cpp
  Rendering/Effects/SkyboxEffect.h
  Rendering/Effects/UIElementsEffect.cpp
  Rendering/Effects/UIElementsEffect.h
  Rendering/Resources/EffectBase.cpp
  Rendering/Resources/EffectBase.h
  UserInterface/Forms/MainWindow.ui
  UserInterface/Forms/MainWindow.ui.orig
  UserInterface/MainWindow.cpp
  UserInterface/MainWindow.h
  UserInterface/ViewPanel/Viewport.cpp
  UserInterface/ViewPanel/Viewport.h
Labels: IFC, PCD, refactoring

#262 Fixing TINs
  Core/src/IfcGeometryConverter/ConverterBuw.h
  Core/src/IfcGeometryConverter/FaceConverter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
Labels: IFC, bug, example-files

#252 Manual download of PROJ
  CMakeLists.txt
  Documentation/markdown/SetupHelp.md
  Documentation/markdown/fig/PROJ4_Installation_settings.png
Labels: build_process, enhancement

#260 Fixing #256
  UnitTests/Schemas/IFC4X1/bath-csg-solid/CMakeLists.txt
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid.ifc
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_back.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_back_left_bottom.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_bottom.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_front.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_front_left_bottom.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_front_right_bottom.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_left.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_right.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_right_bottom_back.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_top.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_top_front_right.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_top_left_back.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_top_left_front.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/Data/bath-csg-solid_top_right_back.png
  UnitTests/Schemas/IFC4X1/bath-csg-solid/src/bath-csg-solid.cpp
Labels: enhancement, example-files

#264 Boost problems from #252
  CMakeLists.txt
Labels: bug

#265 Updated setup documentation
  Documentation/markdown/SetupHelp.md
Labels: documentation

#266 Merged far too soon. Small corrections to the documentation.
  Documentation/markdown/SetupHelp.md
Labels: bug, documentation

#268 Fixing267
  Core/src/IfcGeometryConverter/GeomUtils.cpp
  Core/src/IfcGeometryConverter/GeomUtils.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
  testdata/IFC4x1ExampleFiles/official/E14_Additional_test_cases/reinforcing-assembly.ifc
Labels: IFC, bug, example-files

#269 Corrected CMake to work with point clouds following PROJ introduction.
  CMakeLists.txt
Labels: PCD, bug
