Repository tumcms/Open-Infra-Platform, pull requests merged in 2021-05, with the labels that each got.

#457 corrected getStepLine to account for qualified attributes
  ExpressBindingGenerator/src/Generator/GeneratorOIP.cpp
Labels: bug, early-binding-generator

#458 Fix #433: Reimplementation of IfcFixedReferenceSweptAreaSolid
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: IFC, bug, example-files

#441 Fixing #333
  UnitTests/Schemas/IFC4X1/iv-kone/CMakeLists.txt
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone.ifc
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_back.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_back_left_bottom.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_bottom.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_front.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_front_left_bottom.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_front_right_bottom.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_left.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_right.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_right_bottom_back.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_top.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_top_front_right.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_top_left_back.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_top_left_front.png
  UnitTests/Schemas/IFC4X1/iv-kone/Data/iv-kone_top_right_back.png
  UnitTests/Schemas/IFC4X1/iv-kone/src/iv-kone.cpp
Labels: IFC, example-files

#448 Implementing IfcIndexedPolygonalFaceWithVoids
  Core/src/IfcGeometryConverter/FaceConverter.h
  Core/src/IfcGeometryConverter/GeomUtils.cpp
  Core/src/IfcGeometryConverter/GeomUtils.h
  Core/src/IfcGeometryConverter/ProfileConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: IFC, bug, example-files

#447 Partly fixing #76 and #80 - Example file not working
  testdata/IFC4x1ExampleFiles/official/E15_Alignment/linear-placement.ifc
  testdata/IFC4x1ExampleFiles/official/E15_Alignment/vertical-alignment.ifc
Labels: IFC, bug, example-files
