Repository tumcms/Open-Infra-Platform, pull requests merged in 2021-01, with the labels that each got.

#301 Joss submission
  Documentation/joss/notes.md
  Documentation/joss/paper.bib
  Documentation/joss/paper.md
Labels: documentation

#302 Documentation updates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/import-export-request.md
  .github/ISSUE_TEMPLATE/outstanding.md
  .github/ISSUE_TEMPLATE/refactoring.md
  CMakeLists.txt
  Documentation/licenses.txt
  Documentation/markdown/DoxygenHelp.md
  Documentation/markdown/GitProcess.md
  Documentation/markdown/SetupHelp.md
  cmake/ConfigureDoxygen.cmake
Labels: documentation, enhancement

#316 Add reference to dissertation. Counted code lines. Cleaned up affiliation
  Documentation/joss/notes.md
  Documentation/joss/paper.bib
  Documentation/joss/paper.md
Labels: documentation, evaluation

#322 Linking inverses
  Core/src/DataManagement/General/Data.cpp
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/FaceConverter.h
  Core/src/IfcGeometryConverter/IfcImporter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/PlacementConverterImpl.h
  Core/src/IfcGeometryConverter/ProfileCache.h
  Core/src/IfcGeometryConverter/ProfileConverter.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
  Core/src/IfcGeometryConverter/UnitConverter.h
  CurrentlyExcluded/OPEN_INFRA_PLATFORM/Core/DataManagement/Export/ExportIfc4x1ExcelReport.cpp
  EarlyBinding/CMakeLists.txt
  EarlyBinding/src/EXPRESS/EXPRESSAttribute.h
  EarlyBinding/src/EXPRESS/EXPRESSContainer.h
  EarlyBinding/src/EXPRESS/EXPRESSEntity.cpp
  EarlyBinding/src/EXPRESS/EXPRESSEntity.h
  EarlyBinding/src/EXPRESS/EXPRESSModel.cpp
  EarlyBinding/src/EXPRESS/EXPRESSModel.h
  EarlyBinding/src/EXPRESS/EXPRESSObject.cpp
  EarlyBinding/src/EXPRESS/EXPRESSObject.h
  EarlyBinding/src/EXPRESS/EXPRESSOptional.h
  EarlyBinding/src/EXPRESS/EXPRESSOptionalImpl.h
  EarlyBinding/src/EXPRESS/EXPRESSReference.h
  EarlyBinding/src/EXPRESS/EXPRESSReferenceImpl.h
  EarlyBinding/src/EXPRESS/EXPRESSType.h
  EarlyBinding/src/EXPRESS/EnumType.h
  EarlyBinding/src/EXPRESS/SelectType.h
  EarlyBinding/src/EXPRESS/ValueType.cpp
  EarlyBinding/src/EXPRESS/ValueType.h
  EarlyBinding/src/earlybinding_api.h
  ExpressBindingGenerator/CMakeLists.txt
  ExpressBindingGenerator/src/General/graph.h
  ExpressBindingGenerator/src/General/main.cpp
  ExpressBindingGenerator/src/Generator/GeneratorOIP.cpp
  ExpressBindingGenerator/src/Generator/GeneratorOIP.h
  ExpressBindingGenerator/src/Meta/Entity.cpp
  ExpressBindingGenerator/src/Meta/Entity.h
  ExpressBindingGenerator/src/Meta/EntityAttribute.cpp
  ExpressBindingGenerator/src/Meta/EntityAttribute.h
  ExpressBindingGenerator/src/Meta/Schema.cpp
  ExpressBindingGenerator/src/Meta/Schema.h
  ExpressBindingGenerator/src/Meta/Type.cpp
  ExpressBindingGenerator/src/Parser/parser.y
  UnitTests/Generator/graph/CMakeLists.txt
  UnitTests/Generator/graph/src/graph.cpp
  UnitTests/Generator/schema_UT_family_3/CMakeLists.txt
  UnitTests/Generator/schema_UT_family_3/Data/schema_UT_family_3.exp
  UnitTests/Generator/schema_UT_family_3/src/schema_UT_family_3.cpp
  UnitTests/Generator/schema_UT_v3/Data/schema_UT_v3.exp
Labels: IFC, build_process, early-binding-generator, enhancement

#306 Handling Trimmings + Solving Issues #277, #278, #281
  Core/src/IfcGeometryConverter/CurveConverter.h
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_back.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_back_left_bottom.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_bottom.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_front.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_front_left_bottom.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_front_right_bottom.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_left.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_right.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_right_bottom_back.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_top.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_top_front_right.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_top_left_back.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_top_left_front.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/Data/beam-extruded-solid_top_right_back.png
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/src/beam-extruded-solid.cpp
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_back.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_back_left_bottom.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_bottom.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_front.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_front_left_bottom.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_front_right_bottom.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_left.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_right.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_right_bottom_back.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_top.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_top_front_right.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_top_left_back.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_top_left_front.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/Data/beam-revolved-solid_top_right_back.png
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/src/beam-revolved-solid.cpp
Labels: IFC, enhancement, refactoring

#309 areEqual
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/GeometrySettings.h
Labels: IFC, good first issue, refactoring

#337 Fixed bug in "areEqual"
  Core/src/IfcGeometryConverter/GeometrySettings.h
Labels: IFC, bug, example-files

#235 [WIP] IfcGridPlacement implementation
  Core/src/IfcGeometryConverter/GeomUtils.cpp
  Core/src/IfcGeometryConverter/GeomUtils.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/CMakeLists.txt
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1.ifc
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_back.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_back_left_bottom.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_bottom.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_front.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_front_left_bottom.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_front_right_bottom.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_left.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_right.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_right_bottom_back.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_top.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_top_front_right.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_top_left_back.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_top_left_front.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/Data/BIMGRID_EXPORT_IFC4x1_top_right_back.png
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/src/BIMGRID_EXPORT_IFC4x1.cpp
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/CMakeLists.txt
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid.ifc
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_back.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_back_left_bottom.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_bottom.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_front.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_front_left_bottom.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_front_right_bottom.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_left.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_right.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_right_bottom_back.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_top.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_top_front_right.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_top_left_back.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_top_left_front.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/Data/BricsCAD_BIMgrid_top_right_back.png
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/src/BricsCAD_BIMgrid.cpp
  UnitTests/Schemas/IFC4X1/grid-placement/CMakeLists.txt
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement.ifc
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_back.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_back_left_bottom.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_bottom.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_front.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_front_left_bottom.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_front_right_bottom.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_left.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_right.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_right_bottom_back.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_top.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_top_front_right.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_top_left_back.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_top_left_front.png
  UnitTests/Schemas/IFC4X1/grid-placement/Data/grid-placement_top_right_back.png
  UnitTests/Schemas/IFC4X1/grid-placement/src/grid-placement.cpp
Labels: IFC, enhancement, example-files

#339 Refactoring ifc importer a bit
  Base/src/GeorefMetadata.h
  Base/src/IModel.h
  Core/src/DataManagement/General/Data.h
  Core/src/Exception/InconsistentModelingException.cpp
  Core/src/Exception/InconsistentModelingException.h
  Core/src/IfcGeometryConverter/ConverterBuw.h
  Core/src/IfcGeometryConverter/GeomUtils.cpp
  Core/src/IfcGeometryConverter/GeometryInputData.h
  Core/src/IfcGeometryConverter/GeorefConverter.h
  Core/src/IfcGeometryConverter/IfcImporter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  Core/src/IfcGeometryConverter/UnitConverter.cpp
  Core/src/IfcGeometryConverter/UnitConverter.h
  UnitTests/Schemas/IFC4X1/air-terminal-element/src/air-terminal-element.cpp
  UnitTests/Schemas/IFC4X1/air-terminal-library-object/src/air-terminal-library-object.cpp
  UnitTests/Schemas/IFC4X1/basin-faceted-brep/src/basin-faceted-brep.cpp
  UnitTests/Schemas/IFC4X1/basin-tessellation/src/basin-tessellation.cpp
  UnitTests/Schemas/IFC4X1/bath-csg-solid/src/bath-csg-solid.cpp
  UnitTests/Schemas/IFC4X1/beam-curved-i-shape-tessellated/src/beam-curved-i-shape-tessellated.cpp
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/src/beam-extruded-solid.cpp
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/src/beam-revolved-solid.cpp
  UnitTests/Schemas/IFC4X1/beam-standard-case/src/beam-standard-case.cpp
  UnitTests/Schemas/IFC4X1/beam-straight-i-shape-tessellated/src/beam-straight-i-shape-tessellated.cpp
  UnitTests/Schemas/IFC4X1/beam-varying-cardinal-points/src/beam-varying-cardinal-points.cpp
  UnitTests/Schemas/IFC4X1/beam-varying-extrusion-paths/src/beam-varying-extrusion-paths.cpp
  UnitTests/Schemas/IFC4X1/beam-varying-profiles/src/beam-varying-profiles.cpp
  UnitTests/Schemas/IFC4X1/bloss-curve/src/bloss-curve.cpp
  UnitTests/Schemas/IFC4X1/brep-model/src/brep-model.cpp
  UnitTests/Schemas/IFC4X1/column-extruded-solid/src/column-extruded-solid.cpp
  UnitTests/Schemas/IFC4X1/column-straight-rectangle-tessellation/src/column-straight-rectangle-tessellation.cpp
  UnitTests/Schemas/IFC4X1/construction-scheduling-task/src/construction-scheduling-task.cpp
  UnitTests/Schemas/IFC4X1/csg-primitive/src/csg-primitive.cpp
  UnitTests/Schemas/IFC4X1/extruded-solid/src/extruded-solid.cpp
  UnitTests/Schemas/IFC4X1/horizontal-alignment/src/horizontal-alignment.cpp
  UnitTests/Schemas/IFC4X1/linear-placement/src/linear-placement.cpp
  UnitTests/Schemas/IFC4X1/mapped-shape-with-multiple-items/src/mapped-shape-with-multiple-items.cpp
  UnitTests/Schemas/IFC4X1/mapped-shape-with-transformation/src/mapped-shape-with-transformation.cpp
  UnitTests/Schemas/IFC4X1/mapped-shape-without-transformation/src/mapped-shape-without-transformation.cpp
  UnitTests/Schemas/IFC4X1/reinforcing-assembly/src/reinforcing-assembly.cpp
  UnitTests/Schemas/IFC4X1/reinforcing-stirrup/src/reinforcing-stirrup.cpp
  UnitTests/Schemas/IFC4X1/sectioned-solid/src/sectioned-solid.cpp
  UnitTests/Schemas/IFC4X1/slab-openings/src/slab-openings.cpp
  UnitTests/Schemas/IFC4X1/slab-standard-case/src/slab-standard-case.cpp
  UnitTests/Schemas/IFC4X1/slab-tessellated-unique-vertices/src/slab-tessellated-unique-vertices.cpp
  UnitTests/Schemas/IFC4X1/structural-curve-member/src/structural-curve-member.cpp
  UnitTests/Schemas/IFC4X1/surface-model/src/surface-model.cpp
  UnitTests/Schemas/IFC4X1/terrain-and-alignment/src/terrain-and-alignment.cpp
  UnitTests/Schemas/IFC4X1/terrain-surface/src/terrain-surface.cpp
  UnitTests/Schemas/IFC4X1/tessellated-item/src/tessellated-item.cpp
  UnitTests/Schemas/IFC4X1/vertical-alignment/src/vertical-alignment.cpp
  UnitTests/Schemas/IFC4X1/wall-elemented-case/src/wall-elemented-case.cpp
  UnitTests/Schemas/IFC4X1/wall-standard-case/src/wall-standard-case.cpp
  UnitTests/Schemas/IFC4X1/wall-with-opening-and-window/src/wall-with-opening-and-window.cpp
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/CMakeLists.txt
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/src/basin-faceted-brep.cpp
  UnitTests/Schemas/IFC4X3_RC1/tessellated-item/src/tessellated-item.cpp
  UserInterface/MainWindow.cpp
Labels: IFC, refactoring

#347 Fixing Issue #346
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: bug

#349 Minor corrections for IfcMapConversion
  Core/src/Exception/InconsistentModelingException.h
  Core/src/IfcGeometryConverter/GeorefConverter.h
  Core/src/IfcGeometryConverter/IfcImporter.h
Labels: IFC, bug

#352 Fixing#351
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: IFC, bug

#294 Off import export#271
  Core/CMakeLists.txt
  Core/src/DataManagement/General/Data.cpp
  Core/src/DataManagement/General/Data.h
  Core/src/Exception/OffReaderException.h
  Core/src/OffConverter/OffModel.cpp
  Core/src/OffConverter/OffModel.h
  Core/src/OffConverter/OffReader.cpp
  Core/src/OffConverter/OffReader.h
  Core/src/OffConverter/namespace.h
  EarlyBinding/src/EXPRESS/EXPRESSEntity.h
  Rendering/Effects/OffGeometryEffect.cpp
  Rendering/Effects/OffGeometryEffect.h
  Rendering/Resources/EffectBase.cpp
  Rendering/Resources/EffectBase.h
  Rendering/Shader/OffGeometryEffect.be
  UserInterface/ViewPanel/Viewport.cpp
  UserInterface/ViewPanel/Viewport.h
Labels: enhancement
