Repository tumcms/Open-Infra-Platform, pull requests merged in 2021-02, with the labels that each got.

#360 Fixing #338
  UnitTests/Schemas/IFC4X1/Comments/src/Comments.cpp
  UnitTests/Schemas/IFC4X1/air-terminal-element/src/air-terminal-element.cpp
  UnitTests/Schemas/IFC4X1/air-terminal-library-object/src/air-terminal-library-object.cpp
  UnitTests/Schemas/IFC4X1/basin-faceted-brep/src/basin-faceted-brep.cpp
  UnitTests/Schemas/IFC4X1/basin-tessellation/src/basin-tessellation.cpp
  UnitTests/Schemas/IFC4X1/bath-csg-solid/src/bath-csg-solid.cpp
  UnitTests/Schemas/IFC4X1/beam-curved-i-shape-tessellated/src/beam-curved-i-shape-tessellated.cpp
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/src/beam-extruded-solid.cpp
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/src/beam-revolved-solid.cpp
  UnitTests/Schemas/IFC4X1/beam-standard-case/src/beam-standard-case.cpp
  UnitTests/Schemas/IFC4X1/beam-straight-i-shape-tessellated/src/beam-straight-i-shape-tessellated.cpp
  UnitTests/Schemas/IFC4X1/beam-varying-cardinal-points/src/beam-varying-cardinal-points.cpp
  UnitTests/Schemas/IFC4X1/beam-varying-extrusion-paths/src/beam-varying-extrusion-paths.cpp
  UnitTests/Schemas/IFC4X1/beam-varying-profiles/src/beam-varying-profiles.cpp
  UnitTests/Schemas/IFC4X1/bloss-curve/src/bloss-curve.cpp
  UnitTests/Schemas/IFC4X1/brep-model/src/brep-model.cpp
  UnitTests/Schemas/IFC4X1/column-extruded-solid/src/column-extruded-solid.cpp
  UnitTests/Schemas/IFC4X1/column-straight-rectangle-tessellation/src/column-straight-rectangle-tessellation.cpp
  UnitTests/Schemas/IFC4X1/construction-scheduling-task/src/construction-scheduling-task.cpp
  UnitTests/Schemas/IFC4X1/csg-primitive/src/csg-primitive.cpp
  UnitTests/Schemas/IFC4X1/extruded-solid/src/extruded-solid.cpp
  UnitTests/Schemas/IFC4X1/horizontal-alignment/src/horizontal-alignment.cpp
  UnitTests/Schemas/IFC4X1/linear-placement/src/linear-placement.cpp
  UnitTests/Schemas/IFC4X1/mapped-shape-with-multiple-items/src/mapped-shape-with-multiple-items.cpp
  UnitTests/Schemas/IFC4X1/mapped-shape-with-transformation/src/mapped-shape-with-transformation.cpp
  UnitTests/Schemas/IFC4X1/mapped-shape-without-transformation/src/mapped-shape-without-transformation.cpp
  UnitTests/Schemas/IFC4X1/reinforcing-assembly/src/reinforcing-assembly.cpp
  UnitTests/Schemas/IFC4X1/reinforcing-stirrup/src/reinforcing-stirrup.cpp
  UnitTests/Schemas/IFC4X1/sectioned-solid/src/sectioned-solid.cpp
  UnitTests/Schemas/IFC4X1/slab-openings/src/slab-openings.cpp
  UnitTests/Schemas/IFC4X1/slab-standard-case/src/slab-standard-case.cpp
  UnitTests/Schemas/IFC4X1/slab-tessellated-unique-vertices/src/slab-tessellated-unique-vertices.cpp
  UnitTests/Schemas/IFC4X1/structural-curve-member/src/structural-curve-member.cpp
  UnitTests/Schemas/IFC4X1/surface-model/src/surface-model.cpp
  UnitTests/Schemas/IFC4X1/terrain-and-alignment/src/terrain-and-alignment.cpp
  UnitTests/Schemas/IFC4X1/terrain-surface/src/terrain-surface.cpp
  UnitTests/Schemas/IFC4X1/tessellated-item/src/tessellated-item.cpp
  UnitTests/Schemas/IFC4X1/vertical-alignment/src/vertical-alignment.cpp
  UnitTests/Schemas/IFC4X1/wall-elemented-case/src/wall-elemented-case.cpp
  UnitTests/Schemas/IFC4X1/wall-standard-case/src/wall-standard-case.cpp
  UnitTests/Schemas/IFC4X1/wall-with-opening-and-window/src/wall-with-opening-and-window.cpp
Labels: IFC, bug, example-files

#363 Add Doxymentation to Off reading
  Core/src/OffConverter/OffReader.h
Labels: documentation

#361 Including IFC4x3_rc2
  Core/src/DataManagement/General/Data.cpp
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/IfcPeekStepReader.cpp
  Core/src/IfcGeometryConverter/IfcPeekStepReader.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  Core/src/IfcGeometryConverter/PlacementConverterImpl.cpp
  Core/src/IfcGeometryConverter/PlacementConverterImpl.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
  ExpressBindingGenerator/CMakeLists.txt
  ExpressBindingGenerator/schemas/IFC4x3_RC2.exp
  ExpressBindingGenerator/src/Generator/GeneratorOIP.cpp
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_back.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_back_left_bottom.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_bottom.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_front.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_front_left_bottom.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_front_right_bottom.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_left.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_right.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_right_bottom_back.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_top.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_top_front_right.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_top_left_back.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_top_left_front.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/Data/basin-faceted-brep_top_right_back.png
  UnitTests/Schemas/IFC4X3_RC1/basin-faceted-brep/src/basin-faceted-brep.cpp
Labels: IFC, early-binding-generator

#367 fixing relative placement calculations syntax
  Core/src/IfcGeometryConverter/PlacementConverter.h
Labels: IFC, bug

#369 Removing OKLABI altogether, since the import/export was removed
  CMakeLists.txt
  cmake/FindOklabi.cmake
Labels: evaluation, refactoring

#380 Add test files for future off unit tests
  UnitTests/Off/helix/Data/helix.off
  testdata/Off/boxcube.off
  testdata/Off/boxtorus.off
  testdata/Off/cone.off
  testdata/Off/cube.off
  testdata/Off/goblet.off
  testdata/Off/icosahedron.off
  testdata/Off/octahedron.off
  testdata/Off/octtorus.off
  testdata/Off/snub_cube.off
  testdata/Off/sphere.off
  testdata/Off/sword.off
Labels: enhancement

#384 Fixing Issue 383
  UnitTests/Schemas/IFC4X1/Comments/CMakeLists.txt
Labels: bug, build_process

#390 Update SupportedIFCrepresentations.md
  Documentation/markdown/SupportedIFCrepresentations.md
Labels: documentation, example-files
