Repository tumcms/Open-Infra-Platform, pull requests merged in 2021-03, with the labels that each got.

#392 Change to "areEqual"
  Core/src/IfcGeometryConverter/CurveConverter.h
Labels: enhancement, good first issue, refactoring

#394 Fixing Issue#393
  UnitTests/Schemas/IFC4X1/BIMGRID_EXPORT_IFC4x1/src/BIMGRID_EXPORT_IFC4x1.cpp
  UnitTests/Schemas/IFC4X1/BricsCAD_BIMgrid/src/BricsCAD_BIMgrid.cpp
  UnitTests/Schemas/IFC4X1/air-terminal-element/src/air-terminal-element.cpp
  UnitTests/Schemas/IFC4X1/air-terminal-library-object/src/air-terminal-library-object.cpp
  UnitTests/Schemas/IFC4X1/basin-faceted-brep/src/basin-faceted-brep.cpp
  UnitTests/Schemas/IFC4X1/basin-tessellation/src/basin-tessellation.cpp
  UnitTests/Schemas/IFC4X1/bath-csg-solid/src/bath-csg-solid.cpp
  UnitTests/Schemas/IFC4X1/beam-curved-i-shape-tessellated/src/beam-curved-i-shape-tessellated.cpp
  UnitTests/Schemas/IFC4X1/beam-extruded-solid/src/beam-extruded-solid.cpp
  UnitTests/Schemas/IFC4X1/beam-revolved-solid/src/beam-revolved-solid.cpp
  UnitTests/Schemas/IFC4X1/beam-standard-case/src/beam-standard-case.cpp
  UnitTests/Schemas/IFC4X1/beam-straight-i-shape-tessellated/src/beam-straight-i-shape-tessellated.cpp
  UnitTests/Schemas/IFC4X1/beam-varying-cardinal-points/src/beam-varying-cardinal-points.cpp
  UnitTests/Schemas/IFC4X1/beam-varying-extrusion-paths/src/beam-varying-extrusion-paths.cpp
  UnitTests/Schemas/IFC4X1/beam-varying-profiles/src/beam-varying-profiles.cpp
  UnitTests/Schemas/IFC4X1/bloss-curve/src/bloss-curve.cpp
  UnitTests/Schemas/IFC4X1/brep-model/src/brep-model.cpp
  UnitTests/Schemas/IFC4X1/column-extruded-solid/src/column-extruded-solid.cpp
  UnitTests/Schemas/IFC4X1/column-straight-rectangle-tessellation/src/column-straight-rectangle-tessellation.cpp
  UnitTests/Schemas/IFC4X1/construction-scheduling-task/src/construction-scheduling-task.cpp
  UnitTests/Schemas/IFC4X1/csg-primitive/src/csg-primitive.cpp
  UnitTests/Schemas/IFC4X1/extruded-solid/src/extruded-solid.cpp
  UnitTests/Schemas/IFC4X1/grid-placement/src/grid-placement.cpp
  UnitTests/Schemas/IFC4X1/horizontal-alignment/src/horizontal-alignment.cpp
  UnitTests/Schemas/IFC4X1/linear-placement/src/linear-placement.cpp
  UnitTests/Schemas/IFC4X1/mapped-shape-with-multiple-items/src/mapped-shape-with-multiple-items.cpp
  UnitTests/Schemas/IFC4X1/mapped-shape-with-transformation/src/mapped-shape-with-transformation.cpp
  UnitTests/Schemas/IFC4X1/mapped-shape-without-transformation/src/mapped-shape-without-transformation.cpp
  UnitTests/Schemas/IFC4X1/reinforcing-assembly/src/reinforcing-assembly.cpp
  UnitTests/Schemas/IFC4X1/reinforcing-stirrup/src/reinforcing-stirrup.cpp
  UnitTests/Schemas/IFC4X1/sectioned-solid/src/sectioned-solid.cpp
  UnitTests/Schemas/IFC4X1/slab-openings/src/slab-openings.cpp
  UnitTests/Schemas/IFC4X1/slab-standard-case/src/slab-standard-case.cpp
  UnitTests/Schemas/IFC4X1/slab-tessellated-unique-vertices/src/slab-tessellated-unique-vertices.cpp
  UnitTests/Schemas/IFC4X1/structural-curve-member/src/structural-curve-member.cpp
  UnitTests/Schemas/IFC4X1/surface-model/src/surface-model.cpp
  UnitTests/Schemas/IFC4X1/terrain-and-alignment/src/terrain-and-alignment.cpp
  UnitTests/Schemas/IFC4X1/terrain-surface/src/terrain-surface.cpp
  UnitTests/Schemas/IFC4X1/tessellated-item/src/tessellated-item.cpp
  UnitTests/Schemas/IFC4X1/vertical-alignment/src/vertical-alignment.cpp
  UnitTests/Schemas/IFC4X1/wall-elemented-case/src/wall-elemented-case.cpp
  UnitTests/Schemas/IFC4X1/wall-standard-case/src/wall-standard-case.cpp
  UnitTests/Schemas/IFC4X1/wall-with-opening-and-window/src/wall-with-opening-and-window.cpp
Labels: IFC, bug, example-files

#395 Created converteIfcPointOnCurve
  Core/src/IfcGeometryConverter/CurveConverter.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
Labels: IFC, enhancement, todo_memo

#396 First (somewhat naïve) Georeferencing implementation for IfcModel
  Base/src/GeorefMetadata.h
  Core/src/DataManagement/General/Data.cpp
  Core/src/IfcGeometryConverter/GeorefConverter.h
  Core/src/IfcGeometryConverter/IfcGeometryModel.cpp
  Core/src/IfcGeometryConverter/IfcGeometryModel.h
  Core/src/IfcGeometryConverter/IfcImporter.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  EarlyBinding/src/EXPRESS/EXPRESSReference.h
  PointCloudProcessing/src/PointCloud.cpp
  PointCloudProcessing/src/PointCloud.h
  UserInterface/MainWindow.cpp
Labels: IFC

#202 B-Spline - Curvature
  Core/CMakeLists.txt
  Core/src/IfcGeometryConverter/SplineConverter.h
  Core/src/IfcGeometryConverter/SplineUtilities.h
  Core/src/SplineInterpretation/SplineInterpretation.cpp
  Core/src/SplineInterpretation/SplineInterpretation.h
  Core/src/SplineInterpretation/SplineInterpretationElement.cpp
  Core/src/SplineInterpretation/SplineInterpretationElement.h
  Rendering/CMakeLists.txt
  UnitTests/StrokeToAlignment/001 Testsketch ArcClothoidStraight/001 Testsketch ArcClothoidStraight ResultExpected.txt
  UnitTests/StrokeToAlignment/001 Testsketch ArcClothoidStraight/001 Testsketch ArcClothoidStraight.sketch
  UnitTests/StrokeToAlignment/readme.md
  UserInterface/Forms/MainWindow.ui
  UserInterface/MainWindow.cpp
  UserInterface/MainWindow.h
  testdata/StrokeToAlignment/001 Testsketch ArcClothoidStraight calculated.sketch
  testdata/StrokeToAlignment/002 Testsketch ArcClothoidStraight sketch.sketch
  testdata/StrokeToAlignment/003 Testsketch 301 BA Coetzee.sketch
Labels: enhancement, evaluation, help wanted

#398 Solving 126 and 174 and 400
  Core/src/DataManagement/General/AsyncJob.cpp
  Core/src/DataManagement/General/AsyncJob.h
  Core/src/DataManagement/General/Data.cpp
  Core/src/IfcGeometryConverter/GeorefConverter.h
  Core/src/IfcGeometryConverter/IfcImporter.h
  Core/src/IfcGeometryConverter/PlacementConverter.h
  EarlyBinding/src/EXPRESS/EXPRESSReference.h
  ExpressBindingGenerator/src/Generator/GeneratorOIP.cpp
Labels: IFC, bug

#406 implemented support for IfcFixedReferenceSweptAreaSolid
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: IFC, enhancement

#414 Bounding box tweak
  Core/src/IfcGeometryConverter/ConverterBuw.h
  Core/src/IfcGeometryConverter/IfcGeometryModel.h
  UserInterface/MainWindow.cpp
Labels: enhancement, quality_of_life, refactoring

#419 Georef update
  Base/src/GeorefMetadata.h
  Core/src/IfcGeometryConverter/GeorefConverter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
Labels: IFC, bug, evaluation
