Repository tumcms/Open-Infra-Platform, pull requests merged in 2021-04, with the labels that each got.

#425 Unit Test for bspline-curve-with-knots
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/CMakeLists.txt
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots.ifc
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_back.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_back_left_bottom.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_bottom.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_front.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_front_left_bottom.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_front_right_bottom.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_left.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_right.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_right_bottom_back.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_top.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_top_front_right.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_top_left_back.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_top_left_front.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/Data/bspline-curve-with-knots_top_right_back.png
  UnitTests/Schemas/IFC4X1/bspline-curve-with-knots/src/bspline-curve-with-knots.cpp
Labels: IFC, evaluation, example-files

#422 Including schemas in solution
  ExpressBindingGenerator/CMakeLists.txt
Labels: build_process, quality_of_life

#426 Unit Test for fixed-reference-swept-area-solid
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/CMakeLists.txt
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid.ifc
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_back.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_back_left_bottom.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_bottom.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_front.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_front_left_bottom.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_front_right_bottom.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_left.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_right.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_right_bottom_back.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_top.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_top_front_right.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_top_left_back.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_top_left_front.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/Data/fixed-reference-swept-area-solid_top_right_back.png
  UnitTests/Schemas/IFC4X1/fixed-reference-swept-area-solid/src/fixed-reference-swept-area-solid.cpp
Labels: IFC, evaluation, example-files

#421 Mulitple georeferencing now supported
  Core/src/DataManagement/General/Data.h
  Core/src/IfcGeometryConverter/ConverterBuw.h
  Core/src/IfcGeometryConverter/GeometryInputData.cpp
  Core/src/IfcGeometryConverter/GeometryInputData.h
  Core/src/IfcGeometryConverter/GeorefConverter.h
  Core/src/IfcGeometryConverter/IfcImporter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
  UserInterface/MainWindow.cpp
  UserInterface/ViewPanel/Viewport.cpp
Labels: IFC, enhancement

#397 WIP: Representation items table
  Documentation/markdown/SupportedIFCrepresentations.md
Labels: IFC, documentation, example-files

#357 Refactoring SolidModelConverter.h
  Core/src/IfcGeometryConverter/GeomUtils.cpp
  Core/src/IfcGeometryConverter/GeomUtils.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: IFC, example-files, refactoring

#442 Fixing 431
  Core/src/IfcGeometryConverter/GeometryInputData.h
  Core/src/IfcGeometryConverter/GeorefConverter.h
  Core/src/IfcGeometryConverter/IfcImporter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/SolidModelConverter.h
Labels: IFC, bug

#443 Fixing alignment placement
  Core/src/IfcGeometryConverter/GeorefConverter.h
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  Core/src/IfcGeometryConverter/RepresentationConverter.h
Labels: IFC, bug, enhancement

#446 Screen shot maker
  CMakeLists.txt
  Core/src/IfcGeometryConverter/IfcImporterImpl.h
  ExpressBindingGenerator/CMakeLists.txt
  UnitTests/Utilities/CMakeLists.txt
  UnitTests/Utilities/GeometryModelRenderer/CMakeLists.txt
  UnitTests/Utilities/ScreenShotMaker/CMakeLists.txt
  UnitTests/Utilities/ScreenShotMaker/src/main.cpp
  cmake/CreateUnitTests.cmake
Labels: IFC, example-files, quality_of_life
