Repository tumcms/Open-Infra-Platform, pull requests merged in 2022-08, with the labels that each got.

#550 IfcThirdOrderPolynomialSpiral
  Core/src/IfcGeometryConverter/CurveConverter.h
Labels: IFC

#556 Changing arguments of IFCSIUNIT from $ to * in linear-placement.ifc
  UnitTests/Schemas/IFC4X1/linear-placement/Data/linear-placement.ifc
Labels: bug, IFC, example-files

#552 IfcSeventhOrderPolynomialSpiral
  Core/src/IfcGeometryConverter/CurveConverter.h
  Documentation/markdown/ReleaseNotes.md
  Documentation/markdown/SupportedIFCrepresentations.md
Labels: IFC

#561 IfcCosine
  Core/src/IfcGeometryConverter/CurveConverter.h
  Documentation/markdown/ReleaseNotes.md
  Documentation/markdown/SupportedIFCrepresentations.md
Labels: IFC, example-files
